@import "tailwindcss";
html, body {
  background-color: #0d0d0d;
}
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge (legacy) */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}